<div class="col-md-4">
<article class="listing">
  <div {{action 'toggleImageSize'}} class="recipe-image {{if isWide "wide"}}" style={{background-image recipe.image}} ></div>
  <h3>{{#link-to "recipes.show" recipe}}{{recipe.title}}{{/link-to}}</h3>
  <p>
    {{recipe.description}}
  </p>
 </article>
</div>