<div class="form-horizontal">

  {{#form-row label='Title'}}
    {{input type="text" value=model.title class="form-control"}}
  {{/form-row}}
  {{#form-row label='Description'}}
    {{textarea value=model.description class="form-control" rows="3"}}
  {{/form-row}}
  {{#form-row label='URL of source'}}
    {{input type="text" value=model.source class="form-control"}}
  {{/form-row}}
  {{#form-row label='Minutes to prepare'}}
    {{input type="text" value=model.prepTime class="form-control"}}
  {{/form-row}}
  {{#form-row label='Minutes to cook'}}
    {{input type="text" value=model.cookTime class="form-control"}}
  {{/form-row}}
  {{#form-row label='Link to image'}}
    {{input type="text" value=model.image class="form-control"}}
  {{/form-row}}


  <div class="form-group nested-model">
    <label class="col-sm-2 control-label">Ingredient Groups</label>
      <div class="col-sm-10">
        {{#each model.ingredientGroups as |ingredientGroup|}}
          {{input type="text" value=ingredientGroup.description class="form-control"}}
          <label class="col-sm-2 control-label">Ingredients</label>
        <div class="col-sm-10">
          {{#each ingredientGroup.ingredients as |ingredient|}}
          <div class="input-group">
            {{input type="text" value=ingredient.description class="form-control"}}
            <span class="input-group-addon remove">
              <button class="btn btn-danger"  {{action 'removeIngredient' ingredient}}>-</button>
            </span>
          </div>
          {{/each}}
          <button class="btn btn-success btn-sml pull-right"  {{action 'addIngredient' ingredientGroup}}>Add ingredient</button>
        </div>
        {{/each}}
        <button class="btn btn-success btn-sml"  {{action 'addIngredientGroup'}}>Add ingredient group</button>
      </div>
  </div>
  <div class="form-group nested-model">
    <label class="col-sm-2 control-label">Instructions</label>
    <div class="col-sm-10">
      {{#each model.instructions as |instruction|}}
        <div class="input-group">
          {{input type="text" value=instruction.description class="form-control"}}
          <span class="input-group-addon remove">
            <button class="btn btn-danger"  {{action 'removeInstruction' instruction}}>-</button>
          </span>
        </div>
      {{/each}}
      <button class="btn btn-success btn-sml pull-right"  {{action 'addInstruction'}}>Add instruction</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" {{action 'save' model}}>Save</button>
    </div>
  </div>
</div>