<article class="details">
  <div class="row">
    <div class="col-sm-6">
      <div class="recipe-image" style={{background-image model.image}} ></div>
      <dl>
        <dt>source</dt>
        <dd><a href="{{model.source}}">{{model.source}}</a></dd>
      </dl>
    </div>
    <div class="col-sm-6">
      <h3>{{model.title}}<small>{{#link-to "recipes.edit" model class="btn btn-default btn-sm"}}Edit{{/link-to}}</small></h3>
      <p>
        {{model.description}}
      </p>

      <dl>
        <dt>
          Minutes to prepare
        </dt>
        <dd>{{model.prepTime}}</dd>
        <dt>
          Minutes to cook
        </dt>
        <dd>{{model.cookTime}}</dd>
      </dl>
        <h3>Ingredients</h3>

        {{#each model.ingredientGroups as |ingredientGroup|}}

          <h4>{{ingredientGroup.description}}</h4>
          <ul>
          {{#each ingredientGroup.ingredients as |ingredient|}}
            <li>{{ingredient.description}}</li>
          {{/each}}
          </ul>
        {{/each}}

        <h3>Instructions</h3>
        <dl >
          {{#each model.instructions as |instruction index|}}
            <dt>Step {{increment index}}</dt>
            <dd>{{instruction.description}}</dd>
          {{/each}}
        </dl>
        </div>
    </div>
</article>